{
  "$schema": "https://opencode.ai/config.json",

  "permission": {
    "external_directory": {
      "~/gdrive/**": "allow"
    }
  },

  "provider": {
    "opencode-go": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "OpenCode Go",
      "options": {
        "baseURL": "https://opencode.ai/zen/go/v1",
        "apiKey": "{env:OPENCODE_API_KEY}"
      },
      "models": {
        "deepseek-v4-flash": { "name": "DeepSeek V4 Flash" },
        "deepseek-v4-pro": { "name": "DeepSeek V4 Pro" },
        "glm-5.2": { "name": "GLM 5.2" }
      }
    }
  }
}
